@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --color-text-primary: #FFFFFF;
  --color-text-second: #666666;
  --breakpoint-xs: 20rem;

  --animate-mixed: colorCycle 60s ease-in-out infinite;
  @keyframes colorCycle {
    0%, 15% {
      background-color: rgb(92, 229, 180); /* Green */
    }

    /*  */
    20%, 35% {
      background-color: rgb(54, 116, 181); /* Blue */
    }

    /*  */
    40%, 55% {
      background-color: rgb(137, 138, 196); /* Purple */
    }

    /*  */
    60% ,75% {
      background-color: rgb(138, 120, 78); /* Brown*/
    }

    80% ,95% {
      background-color: rgb(98, 111, 71);/* Dark Green */
    }

    /*  */
    100% {
      background-color: rgb(92, 229, 180); /* Quay về màu ban đầu để vòng lặp liền mạch */
    }
  }
}

@layer base {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    user-select: none;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}

@layer components {

  .container {
    padding: 0 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .container_hero {
    padding: 0; 
    margin: 0 auto;

    @media (width >= 20rem) {
      max-width: 380px;
    }
    
    @media (width >= 40rem) {
      max-width: 540px;
    }
    @media (width >= 48rem) {
      max-width: 720px;
    }
    @media (width >= 64rem) {
      max-width: 960px;
    }
  }

  .button {
    color: var(--color-text-primary);
    opacity: 0.7;
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .footer-container {
    @apply w-full min-h-25 flex items-center justify-between p-10 gap-3 max-lg:justify-center max-lg:flex-col;
  }
}

@layer utilities {

  .shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  }

  .shadow-top {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 2px 0px;
  }

  .shadow-box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hover-underline {
    overflow: hidden;
    text-decoration: none;
    transition: text-decoration .3s ease;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
    }
  }

  .hovering {
    @apply opacity-0 transition-opacity duration-200 ease-linear pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto;
  }

  .hover-selector {
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 16px;
    transition: background-color .3s ease;
    font-weight: 500;

    &:hover {
      background: #F3F4F6;
    }
  }

  .modal_container {
    @apply absolute bg-white top-10 right-0 h-auto p-2 rounded-xl text-text-second transition-all duration-300 ease-in-out z-2;
  }

  .button_hero {
    @apply bg-[#0000000a] rounded-2xl text-white text-center transition-colors ease-in-out duration-300 hover:bg-[#00000066] font-semibold;
  }
}

